.loop-function {
    min-height: 121px;
    width: calc(100% - 2px);
    overflow: scroll;
    overflow-x: hidden;
    flex-direction: column;
    display: flex;
    flex-wrap: nowrap;
    color: thistle;
    border: 1px solid white;

}

.loop-input {
    color: black;
}

.if-else-select {
    color: black;
}