.header-container {
    width: 100%;
    height: 10vh;
    display: flex;
    order: 1;
    background: #F2AA4CFF;
    color: #101820FF;
    justify-items: center;
    align-items: center;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}