.play-button {
    color: black;
    font-size: 2em;
    cursor: pointer;
    outline: none;
}

.play-button:hover {
    color: rgba(255, 255, 255, 0.5);
}

.html-coding-icon {
    height: 40px;
    width: 70px;
    cursor: pointer;
}


.modal-container {
    overflow-y: "scroll";
    max-height: "100px";
}